.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  /* flex 1 1 sirve para que todos los botones se distribuyan con el mismo espacio, osea que tenga el mismo ancho y el mismo alto*/
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  /* user-select permite que el texto no se pueda selecionar con el raton, así el div va parecer un botón.*/
}

.boton-contenedor:hover {
  background-color: #5a01a7;
}

.operador {
  background-color: #00471b;
}

.operador:hover {
  background-color: #ff6600;
}
